.header-container {
    padding: 10px;
    padding-left: 100px;
    text-align: left;
    background: black;
    color: yellow;
}

.flex-box-container-1 {
    display: flex;
    width: 80%;
    margin: auto;
}

.bankbox, .workbox, .selectbox {
    padding: 10px;
    flex-flow: column;
    flex: 1;
    margin: 10px;
}


.flex-box-container-2 {
    display: flex;
    width: 80%;
    margin: auto;
}

.displaybox{
    flex: 1;
    margin: 10px;
    display: flex;
}

.imagebox, .infobox, .buybox {
    padding: 10px;
    flex-flow: column;
    margin: 10px;
}

.imagebox, .buybox {
    flex: 1;
}

.infobox {
    flex: 2;
}


.imagebox img {
    width: 250px;
}
